@inherits LayoutComponentBase
<div class="page">
    <header>
        <div class="menu">
            <a href="Games">Games</a>
            <a href="Software">Software</a>
            <a href="Music">Music</a>
            <a href="Videos">Videos</a>
            <a href="Writing">Writing</a>
            <a href="Contact">Contact</a>
        </div>
    </header>
    <main>
        @Body
    </main>
    <footer>
        
    </footer>
</div>
