.page {
    background-color:black
}

.menu {
    text-align: right;
    padding: 10px 10px 20px 10px;
}

a:link {
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:visited {
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
}