@page "/"
@page "/oblivionburn"
@page "/Games"

<PageTitle>Games</PageTitle>

<div class="body-content">
    <table>
        <tr class="top-row">
            <td class="left-top-panel"></td>
            <td class="center-top-panel">
                <a href="/">
                    <img class="banner" src="images/OP_Banner.png" />
                </a>
            </td>
            <td class="right-top-panel"></td>
        </tr>
        <tr class="center-row">
            <td class="left-middle-panel"></td>
            <td class="center-middle-panel">
                <h1>Released</h1>
                <hr class="solid">
                <img class="banner" src="images/Your_Quest_2_Banner.png" />
                <div class="game-link">
                    <a href="https://store.steampowered.com/app/1220510/Your_Quest_2/" target="_blank">Available on Steam</a>
                </div>
                <iframe width="800" height="480" src="https://www.youtube.com/embed/0Hn_e_8YQ_4?si=H39IK03_aL-K3z2n" frameborder="1" allowfullscreen></iframe>
                <br /><br /><br />
                <br /><br /><br />
                <img class="banner" src="images/Your_Quest_Banner.png" />
                <div class="game-link">
                    <a href="http://store.steampowered.com/app/416030/Your_Quest/" target="_blank">Available on Steam</a>
                </div>
                <iframe width="800" height="480" src="https://www.youtube.com/embed/C4urd2Y87ZU" frameborder="1" allowfullscreen></iframe>
                <br /><br /><br />
                <br /><br /><br />
                <h1>In Development</h1>
                <hr class="solid">
                <img class="banner" src="images/DoS1_Banner.png" />
                <div class="game-link">
                    <a href="https://github.com/Oblivionburn/Dirge-of-Sorrows" target="_blank">Alpha Available on Github</a>
                </div>
                <br /><br /><br />
                <br /><br /><br />
                <img class="banner" src="images/Despicaville_Banner.png" />
                <div class="game-link">
                    <a href="https://github.com/Oblivionburn/Despicaville" target="_blank">Alpha Available on Github</a>
                </div>
                <br /><br /><br />
                <br /><br /><br />
                <img class="banner" src="images/Watt_Banner.png" />
                <br /><br /><br />
                <br /><br /><br />
            </td>
            <td class="right-middle-panel"></td>
        </tr>
        <tr class="bottom-row">
            <td class="left-bottom-panel"></td>
            <td class="center-bottom-panel">
                © 2025 Oblivionburn Productions
            </td>
            <td class="right-bottom-panel"></td>
        </tr>
    </table>
</div>