@page "/Software"

<PageTitle>Software</PageTitle>

<div class="body-content">
    <table>
        <tr class="top-row">
            <td class="left-top-panel"></td>
            <td class="center-top-panel">
                <a href="/">
                    <img class="banner" src="images/OP_Banner.png" />
                </a>
            </td>
            <td class="right-top-panel"></td>
        </tr>
        <tr class="center-row">
            <td class="left-middle-panel"></td>
            <td class="center-middle-panel">
                <h1>Software</h1>
                <hr class="solid">
                <div class="soft-link">
                    <a href="https://github.com/Oblivionburn/OP_Engine" target="_blank">OP_Engine on GitHub</a>
                </div>
                C# game engine for 2D games
                <br /><br /><br />
                <div class="soft-link">
                    <a href="https://oblivionburn.itch.io/realai" target="_blank">Real AI (PC) on Itch.io</a>
                </div>
                Source code for Real AI PC on <a href="https://github.com/Oblivionburn/RealAI_PC" target="_blank">Github</a>
                <br /><br /><br />
                <div class="soft-link">
                    <a href="https://play.google.com/store/apps/details?id=com.oblivionburn.realai2" target="_blank">Real AI 2 on Google Play</a>
                </div>
                Source code for Real AI 2 on <a href="https://github.com/Oblivionburn/RealAI2" target="_blank">Github</a>
                <br /><br /><br />
                <div class="soft-link">
                    <a href="https://play.google.com/store/apps/details?id=com.oblivionburn.nlp" target="_blank">Real AI (text) on Google Play</a>
                </div>
                Source code for Real AI (text) on <a href="https://github.com/Oblivionburn/realai" target="_blank">Github</a>
                <br /><br /><br />
                <div class="soft-link">
                    <a href="https://drive.google.com/file/d/0B0NdVT2cbk68MmRfV2UzQWNadUU/view?usp=sharing&resourcekey=0-wtoxNA1RijGESJci4yA_zA" target="_blank">Real AI (voice) apk</a>
                </div>
                Source code for Real AI (voice) on <a href="https://github.com/Oblivionburn/realai_voice" target="_blank">Github</a>
                <br /><br /><br />
                <br /><br /><br />
            </td>
            <td class="right-middle-panel"></td>
        </tr>
        <tr class="bottom-row">
            <td class="left-bottom-panel"></td>
            <td class="center-bottom-panel">
                © 2025 Oblivionburn Productions
            </td>
            <td class="right-bottom-panel"></td>
        </tr>
    </table>
</div>
