@page "/Writing"

<PageTitle>Writing</PageTitle>

<div class="body-content">
    <table>
        <tr class="top-row">
            <td class="left-top-panel"></td>
            <td class="center-top-panel">
                <a href="/">
                    <img class="banner" src="images/OP_Banner.png" />
                </a>
            </td>
            <td class="right-top-panel"></td>
        </tr>
        <tr class="center-row">
            <td class="left-middle-panel"></td>
            <td class="center-middle-panel">
                <h1>Writing</h1>
                <hr class="solid">
                <br />
                The Gateway
                <br />
                <iframe src="https://drive.google.com/file/d/1FgWdxdrCo-NJzRuIA8wcoKCZd5WpmwBP/preview" width="700" height="900" allow="autoplay">Loading…</iframe>
                <br /><br /><br />
                <br /><br /><br />
            </td>
            <td class="right-middle-panel"></td>
        </tr>
        <tr class="bottom-row">
            <td class="left-bottom-panel"></td>
            <td class="center-bottom-panel">
                © 2025 Oblivionburn Productions
            </td>
            <td class="right-bottom-panel"></td>
        </tr>
    </table>
</div>
