.page[b-n7zwcslzbu] {
    background-color:black
}

.menu[b-n7zwcslzbu] {
    text-align: right;
    padding: 10px 10px 20px 10px;
}

a:link[b-n7zwcslzbu] {
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:visited[b-n7zwcslzbu] {
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
}