html[b-arvneex9qu], body[b-arvneex9qu] {
    font-family: sans-serif;
    color: #ffffff;
    background-color: #000000;
}

h1[b-arvneex9qu] {
    font-family: sans-serif;
    color: #ffffff;
}

a:link[b-arvneex9qu] {
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

a:visited[b-arvneex9qu] {
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

hr.solid[b-arvneex9qu] {
    border-top: 3px solid #bbb;
}

.soft-link[b-arvneex9qu] {
    padding: 20px 20px 0px 20px;
    font-size: 48px;
}

.body-content[b-arvneex9qu] {
    overflow-y: scroll;
    height: 890px;
    width: 100%;
    color: white;
    font-size: 24px;
}

table[b-arvneex9qu] {
    width: 100%;
    height: 100%;
}

.banner[b-arvneex9qu] {
    max-height: 100%;
    max-width: 100%
}

.top-row[b-arvneex9qu] {
    height: 10%;
}

.center-row[b-arvneex9qu] {
    height: 80%;
}

.bottom-row[b-arvneex9qu] {
    height: 10%;
}

.left-middle-panel[b-arvneex9qu], .left-top-panel[b-arvneex9qu], .left-bottom-panel[b-arvneex9qu] {
    width: 10%;
}

.center-top-panel[b-arvneex9qu] {
    width: 80%;
    text-align: center;
    vertical-align: middle;
}

.center-middle-panel[b-arvneex9qu] {
    font-family: sans-serif;
    color: #ffffff;
    vertical-align: top;
    text-align: center;
    padding: 60px 20px 20px 20px
}

.center-bottom-panel[b-arvneex9qu] {
    width: 80%;
    text-align: center;
}

.right-middle-panel[b-arvneex9qu], .right-top-panel[b-arvneex9qu], .right-bottom-panel[b-arvneex9qu] {
    width: 10%;
}
